/* client/src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
}

.home-section {
  background-color: black;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  height: 100vh;
  scroll-snap-align: start;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: white;
  transition: color 0.3s;
}

.menu-links a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
  transition: color 0.3s;
}

.menu-links.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.section-navigation {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  padding: 10px;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s;
}

.section-navigation.home-page {
  background-color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    text-align: center;
    opacity: 0; /* Set opacity to 0 for hidden state */
    transform: translateY(-10px); /* Move links up slightly when hidden */
  }

  .menu-links.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
}

/* Reset browser defaults */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  
}
